<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid id="container">
    <ion-row>

      <ion-col>
        <div>
          <img src="../../assets/img/syc_small.jpeg" />
        </div>
      </ion-col>

    </ion-row>

    <br />

    <ion-row class="font-ex-34">
      <ion-col>
        <div>Welcome</div>
        <div>{{name}}</div>
      </ion-col>
    </ion-row>

    <ion-row class="font-lt-16">
      <ion-col>
        <p>Curvoisier Courts</p>
      </ion-col>
    </ion-row>

    <ion-row class="font-lt-16">
      <ion-col>
        <p>701 Brickell Key Blvd. </p>
      </ion-col>
    </ion-row>

    <br />
    <br />

    <ion-row class="font-lt-16">
      <ion-col>
        <ion-button expand="block" [routerLink]="['/register']">Continue</ion-button>
      </ion-col>
    </ion-row>


    


  </ion-grid>


</ion-content>