<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Camera Feature
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid id="container">
    <ion-row>

      <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions"
      [imageQuality]="1"
      (cameraSwitched)="cameraWasSwitched($event)"
      (initError)="handleInitError($event)"
      ></webcam>

    </ion-row>

    <ion-row>
      <ul *ngFor="let error of errors">
        <li>{{error | json}}</li>
      </ul>
    </ion-row>
    

    <br />

    <ion-row class="font-lt-16">
      <ion-col>
        <ion-button expand="block" (click)="triggerSnapshot()">{{option==1 ? 'Take picture of front of ID': 'Take picture of back of ID'}}</ion-button>
      </ion-col>
    </ion-row>


    


  </ion-grid>


</ion-content>
