<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{textHeader}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--
  <ion-grid class="ion-text-center">
    <ion-row>

      <ion-col>
        <div>
          <img src="../../assets/img/syc_small.jpeg" />
        </div>
      </ion-col>

    </ion-row>


  </ion-grid>

    <br />
    -->
  

  <ion-list *ngIf="!showFaceCapture && !showGuestInformation">

    <!--
    <ion-item-divider >
      <ion-label>
        Apartment Information
      </ion-label>
    </ion-item-divider>
    -->

    <ion-item>
      <ion-label position="floating">Select Apartment #</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="cunit_entity">
        <ion-select-option value="{{ unity.cunit_entity }}" *ngFor="let unity of listUnitEntity">{{unity.description}}
        </ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>

      <ion-label position="floating">Resident Name</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="resident_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Resident Last Name</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="resident_lastname"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label position="floating">Resident Email</ion-label>
      <ion-input type="email" placeholder="" [(ngModel)]="resident_email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Select Reason of Your Visit</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="id_reason_visit">
        <ion-select-option value="{{ reason.id }}" *ngFor="let reason of listReasonVisit">{{reason.description}}
        </ion-select-option>
      </ion-select>
    </ion-item>



    <div style="height: 20px;"></div>

    <ion-button expand="block" (click)="continueFirst($event)" type="submit">
      <ion-icon slot="end" style="color: #fff" name="person-add-outline"></ion-icon>
      Continue
    </ion-button>



  </ion-list>

  <ion-list *ngIf="!showFaceCapture && showGuestInformation">


    <ion-item>

      <ion-label position="floating">Visitor Name</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="visitor_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Visitor Last Name</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="visitor_lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Visitor Mobile number</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="visitor_mobile_phone_number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Visitor Email</ion-label>
      <ion-input type="email" placeholder="" [(ngModel)]="visitor_email"></ion-input>
    </ion-item>


    <div style="height: 20px;"></div>

    <ion-button expand="block" (click)="saveProfile($event)" type="submit">
      <ion-icon slot="end" style="color: #fff" name="person-add-outline"></ion-icon>
      Continue
    </ion-button>

  </ion-list>


  <ion-list class="ion-text-center" *ngIf="showFaceCapture && !showFinish">

    <ion-button size="large" *ngIf="!hasCaptureImage" color="secondary" (click)="modalCamera()">
      <ion-icon slot="end" style="color: #fff" name="camera-outline"></ion-icon>
      <div class="font-md-17">Capture</div>
    </ion-button>

    <ion-card style="background-color: gray;" *ngIf="option==3">
      <ion-card-content>
        <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(imageBase64Id1)" class="invitecanvas">
      </ion-card-content>
    </ion-card>

    <ion-card style="background-color: gray;">
      <ion-card-content>
        <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(imageBase64)" class="invitecanvas">
      </ion-card-content>
    </ion-card>

    



    <div style="height: 20px;" *ngIf="hasCaptureImage"></div>

    <ion-button *ngIf="hasCaptureImage" size="large" (click)="saveIdentification()">
      <ion-icon slot="end" style="color: #fff" name="images-outline"></ion-icon>
      <div class="font-md-17">{{textFinish}}</div>
    </ion-button>


  </ion-list>

  <ion-grid class="ion-text-center" *ngIf="showFaceCapture && showFinish">

    <ion-row>

      <ion-col>
        <div>
          <img height="200" src="successImageBase64" />
        </div>
      </ion-col>

    </ion-row>

    <ion-row class="font-lt-16">
      <ion-col>
        <p>Registration Success</p>
      </ion-col>
    </ion-row>

    <ion-row class="font-lt-16">
      <ion-col>
        <p>Please approach the Front Desk </p>
      </ion-col>
    </ion-row>



  </ion-grid>



</ion-content>